@font-face {
  font-family: larsseit;
  src: url(../font/larsseit/Larsseit.otf);
}
@font-face {
  font-family: larsseitLight;
  src: url(../font/larsseit/Larsseit-Light.otf);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font: 1.2em "larsseit";
  background-color: #161718;
}

.invisible {
  display: none;
}

#mainMenu {
  position: relative;
  z-index: 2;
}

/*main menu with the different section*/
.menuLinks {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 300px;
  height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  text-align: left;
}

.arrow {
  position: absolute;
  right: 5px;
  width: 17px;
  margin-right: 15px;
  margin-left: 7px;
  margin-top: 0rem;
}

.small {
  font-size: 0.89rem;
  color: rgb(141, 141, 141);
}
.img2menuIcon {
  width: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  height: 2rem;
}

#logo {
  display: none;
}

#logoModel3 {
  margin-top: 1rem;
  width: 9rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.margin.small {
  margin-top: 0.2rem;
  font-size: 0.7rem;
  font: 0.6em "larsseitLight";
}

#moreAboutMyTesla {
  padding-right: 7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#hr {
  width: 150%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(51, 51, 51, 0),
    rgba(107, 107, 107, 0.75),
    rgba(51, 51, 51, 0)
  );
}

/* tablette */
@media screen and (max-width: 992px) and (min-width: 667px) {
  section#mainMenu {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

/* PC */
@media screen and (width > 992px) {
  /*style removal*/
  body {
    padding-top: 0%;
  }

  #mainMenu {
    display: block;
    /* background: linear-gradient(to right, rgb(247, 247, 247, 0.5) 97%, #161718); */
    position: static;
    z-index: 0;
    border-radius: 0 20px 20px 0;
    padding-right: 0.6rem;
  }

  .arrow {
    display: none;
  }

  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 9vh;
    max-width: 100vh;
  }

  .img2menuIcon {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .menuLinks {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 1.1rem;
  }

  #logoModel3 {
    filter: invert(50%);
    -webkit-filter: invert(50%);
  }

  header {
    margin-top: 3vh;
  }

  section#mainButtons {
    /* margin-top: auto;
      margin-bottom: auto; */
    margin-left: 15vw;
    margin-right: 15vw;
  }

  section#mainMenu {
    grid-row: 1 / span 3;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 0vw;
    margin-right: 0vw;
  }

  .menuLinks {
    color: rgb(49, 49, 49, 0.9);
    cursor: pointer;
  }

  .menuLinks:before {
    height: 0%;
    width: 2px;
  }

  .menuLinks:hover {
    /* border-radius: 0 20px 20px 0; */
    border-radius: 0 5px 5px 0;
    background-color: rgba(255, 0, 0, 0.17);
    color: rgba(194, 15, 15, 0.616);
  }

  #moreAboutMyTesla {
    position: absolute;
    bottom: 0;
    margin-top: auto;
  }

  #hr {
    width: 180%;
  }

  .disabled .menuLinks {
    color: rgb(167, 167, 167);
  }
}

@media screen and (width < 992px) {
  #mainMenu {
    display: none;
  }
}
