* {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  color: #171a20;
  font-family: "M PLUS 1", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  padding: 7px 20px;
  position: fixed;
  z-index: 2;
  width: 100%;
}

a#logo {
  height: auto;
  width: 7rem;
  color: inherit;
  margin-left: auto;
  margin-right: auto;
}

header a {
  color: inherit;
}

section {
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center center;
}

section #content {
  width: 100%;
  height: 100vh;
  padding-top: 7vh;
  padding-bottom: 15vh;
  text-align: center;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

section .buttons a {
  display: block;
  background-color: #eee;
  color: inherit;
  padding: 12px 50px;
  border-radius: 9px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

section .buttons a:first-child {
  background-color: rgb(46, 46, 46);
  color: #fff;
}

section .buttons {
  display: grid;
  row-gap: 18px;
  margin: 0 40px;
}

h1 {
  font-size: 3rem;
}

li a {
  color: inherit;
}

/* tablette */
@media screen and (min-width: 667px) {
  section .buttons {
    grid-template-columns: 1fr 1fr;
    max-width: 640px;
    margin: 0 auto;
    column-gap: 20px;
  }
}

/* PC */
@media screen and (width > 992px) {
  a#logo {
    margin-left: 0;
    margin-right: 0;
  }
}
